@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300;400;500;700&display=swap');

:root{
    --pink:#FFAEB4;
    --black:#000;
    --while:#fff;
    --gray: #DDD9D9;
    --green: #768134;
    --orange: #E26B14;
    --orange-sale: #F06A26;
    --blue: #07234E;
    --brown: #B20;
    --border-radius: 10px 10px 10px 0 ;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto Condensed', sans-serif; */
}
.crop-text1{
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
}
.crop-text2{
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}